In [65]:
import pandas as pd
from sqlalchemy import create_engine

In [25]:
df=pd.read_csv("green_tripdata_2019-09.csv.gz",compression="gzip")
df2=pd.read_csv("taxi+_zone_lookup.csv")
df
df

/tmp/ipykernel_40094/1087689902.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv("green_tripdata_2019-09.csv.gz",compression="gzip")

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,0.50,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,0.50,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,0.50,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,0.50,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:13:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,2.75,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN
449059,NaN,2019-09-30 23:26:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,2.75,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN
449060,NaN,2019-09-30 23:15:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,2.75,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN
449061,NaN,2019-09-30 23:19:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,2.75,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN
449062,NaN,2019-09-30 23:35:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,2.75,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN

In [34]:
engine=create_engine("postgresql://root:root@localh")

store_and_fwd_flag
N    388780
Y      1140
Name: count, dtype: int64

VendorID                        float64
lpep_pickup_datetime     datetime64[ns]
lpep_dropoff_datetime    datetime64[ns]
store_and_fwd_flag               object
RatecodeID                      float64
PULocationID                      int64
DOLocationID                      int64
passenger_count                 float64
trip_distance                   float64
fare_amount                     float64
extra                           float64
mta_tax                         float64
tip_amount                      float64
tolls_amount                    float64
ehail_fee                       float64
improvement_surcharge           float64
total_amount                    float64
payment_type                    float64
trip_type                       float64
congestion_surcharge            float64
lpep_pickoff_datetime    datetime64[ns]
dtype: object

In [36]:
df

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickoff_datetime
0,2.0,2019-09-01 00:23:46,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.50,...,0.5,2.36,0.00,NaN,0.3,14.16,1.0,1.0,0.0,2019-09-01 00:23:46
1,2.0,2019-09-01 00:44:37,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.00,...,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0,2019-09-01 00:44:37
2,2.0,2019-09-01 01:03:20,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.00,...,0.5,0.00,0.00,NaN,0.3,13.30,2.0,1.0,0.0,2019-09-01 01:03:20
3,2.0,2019-09-01 00:33:22,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.50,...,0.5,1.50,0.00,NaN,0.3,10.30,1.0,1.0,0.0,2019-09-01 00:33:22
4,2.0,2019-09-01 00:59:54,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.00,...,0.5,3.06,0.00,NaN,0.3,18.36,1.0,1.0,0.0,2019-09-01 00:59:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
449058,NaN,2019-09-30 23:41:00,2019-09-30 23:41:00,NaN,NaN,66,71,NaN,7.84,43.25,...,0.5,0.00,0.00,NaN,0.0,46.50,NaN,NaN,NaN,2019-09-30 23:41:00
449059,NaN,2019-09-30 23:46:00,2019-09-30 23:46:00,NaN,NaN,55,26,NaN,3.56,25.75,...,0.5,0.00,0.00,NaN,0.0,29.00,NaN,NaN,NaN,2019-09-30 23:46:00
449060,NaN,2019-09-30 23:43:00,2019-09-30 23:43:00,NaN,NaN,139,78,NaN,18.47,50.47,...,0.5,0.00,6.12,NaN,0.0,59.84,NaN,NaN,NaN,2019-09-30 23:43:00
449061,NaN,2019-10-01 00:06:00,2019-10-01 00:06:00,NaN,NaN,242,188,NaN,20.10,58.22,...,0.5,0.00,6.12,NaN,0.0,67.59,NaN,NaN,NaN,2019-10-01 00:06:00
449062,NaN,2019-09-30 23:58:00,2019-09-30 23:58:00,NaN,NaN,155,189,NaN,5.87,26.07,...,0.5,0.00,0.00,NaN,0.0,29.32,NaN,NaN,NaN,2019-09-30 23:58:00

In [55]:
pickup=df[(df['lpep_pickup_datetime'] >= '2019-09-18') & (df['lpep_pickup_datetime'] < '2019-09-19')]
pickup

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickoff_datetime
206173,2.0,2019-09-18 00:11:55,2019-09-18 00:11:55,N,1.0,235,41,1.0,4.99,17.50,...,0.5,0.0,0.0,NaN,0.3,18.80,2.0,1.0,0.0,2019-09-18 00:11:55
206188,2.0,2019-09-18 00:00:00,2019-09-18 00:00:00,N,1.0,65,61,1.0,2.45,11.00,...,0.5,0.0,0.0,NaN,0.3,12.30,2.0,1.0,0.0,2019-09-18 00:00:00
206226,2.0,2019-09-18 00:49:03,2019-09-18 00:49:03,N,1.0,82,121,1.0,4.16,15.50,...,0.5,0.0,0.0,NaN,0.3,16.80,2.0,1.0,0.0,2019-09-18 00:49:03
206427,2.0,2019-09-18 01:23:35,2019-09-18 01:23:35,N,1.0,83,82,2.0,2.30,10.50,...,0.5,0.0,0.0,NaN,0.3,11.80,2.0,1.0,0.0,2019-09-18 01:23:35
206682,2.0,2019-09-18 04:16:52,2019-09-18 04:16:52,N,1.0,260,157,1.0,2.52,11.50,...,0.5,0.0,0.0,NaN,0.3,12.80,1.0,1.0,0.0,2019-09-18 04:16:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423824,NaN,2019-09-18 23:28:00,2019-09-18 23:28:00,NaN,NaN,61,63,NaN,4.03,23.11,...,0.5,0.0,0.0,NaN,0.0,26.36,NaN,NaN,NaN,2019-09-18 23:28:00
423825,NaN,2019-09-18 23:59:00,2019-09-18 23:59:00,NaN,NaN,71,226,NaN,9.97,59.50,...,0.5,0.0,0.0,NaN,0.0,60.00,NaN,NaN,NaN,2019-09-18 23:59:00
423828,NaN,2019-09-18 23:15:00,2019-09-18 23:15:00,NaN,NaN,39,76,NaN,3.17,22.25,...,0.5,0.0,0.0,NaN,0.0,25.50,NaN,NaN,NaN,2019-09-18 23:15:00
423830,NaN,2019-09-18 23:34:00,2019-09-18 23:34:00,NaN,NaN,75,247,NaN,3.74,24.12,...,0.5,0.0,0.0,NaN,0.0,27.37,NaN,NaN,NaN,2019-09-18 23:34:00
423831,NaN,2019-09-18 23:14:00,2019-09-18 23:14:00,NaN,NaN,49,61,NaN,1.97,15.25,...,0.5,0.0,0.0,NaN,0.0,18.50,NaN,NaN,NaN,2019-09-18 23:14:00

In [62]:
dropoff=df[(df["lpep_dropoff_datetime"]>='2019-09-18') & (df["lpep_dropoff_datetime"]<'2019-09-19')] 
dropoff

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,lpep_pickoff_datetime
206173,2.0,2019-09-18 00:11:55,2019-09-18 00:11:55,N,1.0,235,41,1.0,4.99,17.50,...,0.5,0.0,0.0,NaN,0.3,18.80,2.0,1.0,0.0,2019-09-18 00:11:55
206188,2.0,2019-09-18 00:00:00,2019-09-18 00:00:00,N,1.0,65,61,1.0,2.45,11.00,...,0.5,0.0,0.0,NaN,0.3,12.30,2.0,1.0,0.0,2019-09-18 00:00:00
206226,2.0,2019-09-18 00:49:03,2019-09-18 00:49:03,N,1.0,82,121,1.0,4.16,15.50,...,0.5,0.0,0.0,NaN,0.3,16.80,2.0,1.0,0.0,2019-09-18 00:49:03
206427,2.0,2019-09-18 01:23:35,2019-09-18 01:23:35,N,1.0,83,82,2.0,2.30,10.50,...,0.5,0.0,0.0,NaN,0.3,11.80,2.0,1.0,0.0,2019-09-18 01:23:35
206682,2.0,2019-09-18 04:16:52,2019-09-18 04:16:52,N,1.0,260,157,1.0,2.52,11.50,...,0.5,0.0,0.0,NaN,0.3,12.80,1.0,1.0,0.0,2019-09-18 04:16:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
423824,NaN,2019-09-18 23:28:00,2019-09-18 23:28:00,NaN,NaN,61,63,NaN,4.03,23.11,...,0.5,0.0,0.0,NaN,0.0,26.36,NaN,NaN,NaN,2019-09-18 23:28:00
423825,NaN,2019-09-18 23:59:00,2019-09-18 23:59:00,NaN,NaN,71,226,NaN,9.97,59.50,...,0.5,0.0,0.0,NaN,0.0,60.00,NaN,NaN,NaN,2019-09-18 23:59:00
423828,NaN,2019-09-18 23:15:00,2019-09-18 23:15:00,NaN,NaN,39,76,NaN,3.17,22.25,...,0.5,0.0,0.0,NaN,0.0,25.50,NaN,NaN,NaN,2019-09-18 23:15:00
423830,NaN,2019-09-18 23:34:00,2019-09-18 23:34:00,NaN,NaN,75,247,NaN,3.74,24.12,...,0.5,0.0,0.0,NaN,0.0,27.37,NaN,NaN,NaN,2019-09-18 23:34:00
423831,NaN,2019-09-18 23:14:00,2019-09-18 23:14:00,NaN,NaN,49,61,NaN,1.97,15.25,...,0.5,0.0,0.0,NaN,0.0,18.50,NaN,NaN,NaN,2019-09-18 23:14:00

15751